
apiVersion: apps/v1
kind: Deployment
metadata:
  name: llmops-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llmops-app
  template:
    metadata:
      labels:
        app: llmops-app
    spec:
      containers:
      - name: llmops-app
<<<<<<< HEAD
        image: bilal1045/studyai:v26
=======
        image: bilal1045/studyai:v26
>>>>>>> 6ea21d8622e0e15ae2e1a8d8d9b2a6b84f10febe
        ports:
        - containerPort: 8501
        env:
        - name: GROQ_API_KEY
          valueFrom:
            secretKeyRef:
              name: groq-api-secret
              key: GROQ_API_KEY
